.cell {
  background: transparent;
}

.row {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: none;
  border-width: 0 0 0.3px 0;
  border-color: rgb(223, 220, 220);
  border-style: solid;
  transition: all 0.3s ease-in-out;
}

.row:hover {
  color: white;
  background-color: rgb(254, 195, 254);
  transition: all 0.3s ease-in-out;
}

.header {
  font-weight: 500;
  position: sticky;
  z-index: 2;
  top: -10px;
  left: 0;
  background-color: white;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
